.DS_Store

# CMake / build output
/build/
/cmake-build-*/

# Qt Creator local settings
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
/.qtcreator/
/.vscode/
/README.md
*.user

# Generated binaries and debug symbols
*.app
*.dSYM/
*.o
*.obj
*.so
*.dylib
*.dll
*.exe

# doc
/doc/
